body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c5cbd8;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #c5cbd8;
}
.logout-button {
  border: 0.5px solid var(--Red, #de0000);
  color: var(--Red, #de0000);
}
.logout-button:hover {
  border: 0.5px solid var(--Red, #de0000);
}
.btn2 {
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.settings-button {
  border: 0.5px solid #1f3f7f;
  color: #1f3f7f;
  margin-right: 5px;
}
.settings-button:hover {
  border: 0.5px solid #1f3f7f;
  color: #1f3f7f;
}

.logout-header {
  display: flex;
  justify-content: end;
  padding: 5px 5px;
  border-radius: 7px;
  margin-bottom: 5px;
  color: var(--Red, #de0000);
  background: none;
}

.enclosing-card img {
  height: 80px;
}
.enclosing-card .card-body {
  display: flex;
  gap: 1rem;
}
.greeting-message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.greeting-message h5 {
  margin-bottom: 0 !important;
}
.other-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.other-info > div {
  padding: 0 1.5rem;
  /* border-right: 1px solid #bdbdcd; */
  text-align: center;
}
.other-info > div:last-child {
  border-right: none;
  padding-right: 0;
}

.important-text {
  display: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #1f3f7f !important;
}

.important-text a {
  color: inherit;
}

.main-content {
  padding: 20px;
}

.custom-file label {
  overflow: hidden;
  line-height: 24px;
}
.customBdr {
  border-right: 1px solid rgba(171, 168, 168, 0.8);
}
.addPathBtn {
  background: #1f3f7f;
  border-color: #1f3f7f;
}
.addPathBtn:hover {
  background: #1f3f7f;
  border-color: #1f3f7f;
}

.selFle {
  color: black;
  border: 0.5px solid var(--Brand-Blue, #1f3f7f);
}
.selFle:hover {
  color: black;
  border: 0.5px solid var(--Brand-Blue, #1f3f7f);
  background: white;
}

.selFle:focus-visible {
  color: black;
  border: 0.5px solid var(--Brand-Blue, #1f3f7f);
  background: white;
}
.selFle:active {
  color: black;
  border: 0.5px solid var(--Brand-Blue, #1f3f7f);
  background: white;
}

.custom-input-style:focus-visible {
  outline: none;
}
.custom-input-style:focus {
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: none;
}

.button-basic,
.button-basic:hover,
.button-basic:focus-visible {
  color: black;
  border: 0.5px solid var(--Brand-Blue, #1f3f7f);
}

.custom-margin {
  margin-right: 5px;
}

.plusIcon {
  margin-right: 5px;
}
/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .enclosing-card .card-body {
    flex-direction: column;
    align-items: center;
  }
}

.sendIcon {
  margin-right: 3px;
}

.path-padd {
  padding-right: 3px;
}
.buttonGrp {
  display: flex;
  justify-content: start;
  gap: 3px;
}

.text-area {
  min-height: 180px;
  max-height: 180px;
  border: 1px solid #1f3f7f;
  border-radius: 5px;
  overflow: auto;
  background: #958b8b21;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #50699c;
  border-radius: 3px;
}

.ccustom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1f3f7f;
}

.custom-list {
  padding: 12px 20px 12px 20px;
  list-style: auto;
}
.custom-list2 {
  padding: 12px 20px 12px 0px;
  list-style: auto;
}
.dentreadSyncing {
  display: flex;
  justify-content: flex-end;
}

.syncToDentread {
  border: 1px solid #1f3f7f;
  background: #1f3f7f;
  color: white;
  margin-top: 12px;
  padding: 6px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.heading-part {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.extra-padding {
  padding-top: 10px;
}

.button-basic-without-border {
  color: black;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  padding-left: 5px;
  margin-left: 20px;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-success {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4caf50; /* Green color for success */
  animation: none; /* Remove the spinning animation */
}

.loader-failure {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5733; /* Red color for failure */
  animation: none; /* Remove the spinning animation */
}

.tick {
  width: 10px;
  height: 2px;
  background-color: #4caf50; /* Green color for ticks */
  margin: 2px;
  /* transform: rotate(45deg); */
}
